<%- include('layout/header.ejs') -%>
<h3>Edit Issue</h3>
<hr />
<form method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      name="title"
      type="text"
      class="form-control <%= errors.title ? 'is-invalid' : '' %>"
      id="title"
      value="<%= form.title || issue.title %>"
    />
    <% if (errors.title) { %>
    <div class="invalid-feedback"><%= errors.title %></div>
    <% } %>
  </div>
  <div class="mb-3">
    <label for="comment" class="form-label">Comment</label>
    <textarea
      name="comment"
      class="form-control <%= errors.comment ? 'is-invalid' : '' %>"
      id="comment"
    ><%= form.comment || issue.comment %></textarea>
    <% if (errors.comment) { %>
    <div class="invalid-feedback"><%= errors.comment %></div>
    <% } %>
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status</label>
    <select name="status" id="status" class="form-control">
      <option value="Open" <%= (form.status||issue.status) === 'Open' ? 'selected' : '' %>>Open</option>
      <option value="Closed" <%= (form.status||issue.status) === 'Closed' ? 'selected' : '' %>>Closed</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('layout/footer.ejs') -%>
