<%- include('layout/header.ejs') -%>
<a href="/create" class="btn btn-primary">Create</a>
<% if (messages) { messages.forEach(message => { %>
<div class="alert alert-success"><%= message %></div>
<% })} %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th width="33%">Comment</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.forEach((issue) => { %>
    <tr>
      <td><%= issue.title %></td>
      <td><%= issue.comment %></td>
      <td><%= issue.status %></td>
      <td>
        <a href="/edit/<%= issue.id %>" class="btn btn-secondary">Edit</a>
        <button
          type="button"
          class="btn btn-danger"
          data-delete-issue-id="<%= issue.id %>"
        >
          Delete
        </button>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<script>
  document.querySelectorAll("[data-delete-issue-id]").forEach((node) => {
    node.addEventListener("click", (event) => {
      if (!confirm("Are you sure?")) {
        return;
      }

      const form = document.createElement("form");
      form.method = "POST";
      form.action = `/delete/${event.target.dataset.deleteIssueId}`;
      document.body.appendChild(form);
      form.submit();
    });
  });
</script>
<%- include('layout/footer.ejs') -%>
