<%- include('layout/header.ejs') -%>
<a href="/create" class="btn btn-primary">Create</a>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th width="33%">Comment</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.forEach((issue) => { %>
    <tr>
      <td><%= issue.title %></td>
      <td><%= issue.comment %></td>
      <td><%= issue.status %></td>
      <td>
        <a href="/edit/<%= issue.id %>" class="btn btn-secondary">Edit</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%- include('layout/footer.ejs') -%>
